<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>Details of the students</title>

    <style>
        .form-control{
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: medium;
            color: black;
        }
        .form-group label{
            font-size: large;
        }
        thead{
            font-size: large;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ></a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="container">
            
            <div class="col-md-12">
                <h2 style="text-align: center;">Student Details of {{ student.fullName  }}</h2><br />
            </div>

            <div class="col-md-6">
                
                <form>
                    <div class="form-group">
                        <label for="studentNumber">Student Number:</label>
                        <input type="text" class="form-control" value="{{ student.studentNumber  }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Student Full Name:</label>
                        <input type="text" class="form-control" value="{{ student.fullName  }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="course">Student Course:</label>
                        <input type="text" class="form-control" value="{{ student.course  }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="course">Student Year:</label>
                        <input type="text" class="form-control" value="{{ student.year  }}" disabled>
                    </div>  
                </form>

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}

            </div>

            <div class="col-md-6">
                <table class="table table-striped table-hover ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Student Subject Code</th>
                            <th>Student Grades</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                            {% for grades in student.grades_set.all %}
                                <tr>
                                    <td>
                                        <h4>{{grades.subjectCode}}</h4>
                                    </td>
                                
                                    <td>
                                        <h4>{{ grades.grade }}</h4>
                                    </td>
                                </tr> 
                            {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'polls:index' %}"><button style="float: right;" class="btn btn-primary">Return to List</button></a>
            </div>
        </div>
    </div>
        
</body>
</html>